#############
## UDK
#############
Binaries/
Development/Flash
Development/Src/Core
Development/Src/Engine
Development/Src/GameFramework
Development/Src/GFxUI
Development/Src/GFxUIEditor
Development/Src/IpDrv
Development/Src/MyMod
Development/Src/OnlineSubsystemGameCenter
Development/Src/OnlineSubsystemPC
Development/Src/OnlineSubsystemSteamworks
Development/Src/SubstanceAir
Development/Src/SubstanceAirEd
Development/Src/UDKBase
Development/Src/UnrealEd
Development/Src/WinDrv
Engine/
UDKGame/Autosaves
UDKGame/Build
UDKGame/Cloud
UDKGame/Config/IPhone
UDKGame/Config/Mac
UDKGame/Config/Mobile
UDKGame/Config/DefaultCharInfo.ini
UDKGame/Config/*Editor*.ini
UDKGame/Config/DefaultLightmass.ini
UDKGame/Config/DefaultUI.ini
UDKGame/Config/UDK*.ini
UDKGame/Content
UDKGame/Localization
UDKGame/Logs
UDKGame/Movies
UDKGame/ProjectTemplates
UDKGame/Screenshots
UDKGame/Script
UDKGame/Splash
UDKGame/PCTO*.txt